<li id="comment-<%= comment._id %>">
  <p>
    <% if (locals.user && locals.user.id == comment.user.id){ %>

    <small>
      <a
        class="delete-comment-button"
        href="/comments/destroy/<%= comment.id %>"
        >X</a
      >
    </small>
    <% } %> <%= comment.content %>

      <small class="comment-user-likes likes">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%if(locals.user){%>
        <a class="likes-value" data-likes="<%= comment.likes.length %>" href="/likes/toggle?id=<%=comment._id%>&type=Comment" ><%= comment.likes.length %> Likes</a></small>
        <%}else{%>
        <span class="post-likes-value-show"><%= post.likes.length %></span> Likes</small>
        <%}%>
    </small>
  
    <br />
    <small> <%= comment.user.name %> </small>
  </p>
</li>
