<li id="post-<=%post._id%>">
  <p>
    <%if(locals.user && locals.user.id==post.user.id){%>
    <small>
      <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">X</a>
    </small>
  <%}%>
 <%=post.content%>
</br>
<small>
    <%=post.user.name%>
</small>
</p>
<div class="post-comments">
<%if(locals.user){%>
 <form action="/comments/create" method="POST">
 <input type="text" name="content" placeholder="Type Here To Add Comment ...">
 <input type="hidden" value="<%=post._id%>" name="post">
 <input type="submit" value="Add Comment">
   
</form>
<%}%>
<div class="post-comments-list">
  <ul id="post-comment-<%=post._id%>">
    <%for(comment of post.comments){%>
     
  <%- include('_comment') -%>
   
      <%}%>
  </ul>
</div>
</div></li>