<link rel="stylesheet" href="/css/user_profile.css" />

<img src="<%=user.avatar%>" alt="<%user.name%>" width="100" />

<% if(user.id==profile_user.id){ %>
<!-- if user matches then show the forms else only show profile info -->

<form
  action="/users/update/<%=profile_user.id%>"
  enctype="multipart/form-data"
  method="POST"
>
  <input
    type="text"
    name="name"
    placeholder="your Name"
    value="<%=profile_user.name%>"
    required
  />

  <input
    type="email"
    name="email"
    placeholder="your Email"
    value="<%=profile_user.email%>"
    required
  />
  <input type="file" name="avatar" placeholder="Profile-Picture" />
  <input type="submit" value="update" />
</form>

<%}else{%>

<p><%=profile_user.name%></p>
<p><%=profile_user.email%></p>
<button id="add-friends-button">
  <a id="add-friends-button-link" href="/users/addfriend?from_user=<%=user.id%>&to_user=<%=profile_user.id%>"
    >Add Friend</a
  >
</button>

<%}%>
<script src="/js/friendship.js"></script>
